{% extends "base.html" %}
{% block content %}
{% load static %}

<br>
<h1>Bienvenido a DTHI!</h1>
<br>
<br>
<p>En pleno siglo XXI y viviendo la era de la cuarta revolución industrial,
  decidimos crear una compañía que pudiese acompañar todos los procesos de digitalización en las empresas,
  sin que esto significara descuidar el tema humano. </p>
<br>
<p>Hoy, creemos en la importancia del capital Tecno – Humano, y cuidamos la importancia de cada ser, como un activo fundamental de la empresa.</p>
<br>
<p>Somos DTHI. Una empresa que busca equilibrar la inteligencia artificial, con la inteligencia emocional.
  Sabemos y entendemos que sin digitalización no hay tecnología y que, sin humanización, no tenemos innovación.
  Por eso, estos cuatro pilares nos mueven y definen.</p>
<br>
<!--
<img class= "other_img" src="{% static 'images/other_images/Welcome_image.png'%}" alt="">
-->
{% endblock %}
